# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]

# --------------------
# Virtual environment
# --------------------
venv/
.env

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Pytest
# --------------------
.pytest_cache/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Logs
# --------------------
*.log

.idea/
.vscode/
